main{
  min-height: 100vh;
}
.form-check-input, .form-select {
  box-shadow: none !important;
}
.form-check-input:checked {
  background-color: blueviolet !important;
  border: none !important;
}

.btn-check:checked, .form-control:focus, .form-select:focus{
  border-color: blueviolet !important;
}
.form-control{
  box-shadow: none !important;
}
a{
  color:blueviolet !important;
}
.sub{
  color: white !important;
  background-color: blueviolet !important;
}

.btn.border-secondary-subtle{
border-color:  blueviolet !important;
}

