.form-check-input {
  box-shadow: none !important;
}
.form-check-input:checked {
  background-color: blueviolet !important;
  border: none !important;
}
/* .form-check-input:focus {
  border-color: #ced4da !important;
} */

.btn:hover {
  border-color: blueviolet !important;
}
.btn-check:checked{
  border-color: blueviolet !important;
}
.form-control{
  box-shadow: none !important;
}