@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");

* {
  margin: 0;
  padding: 0;
  box-shadow: none;
}
main {
  font-family: "Mukta", sans-serif;
  background: #f5f5fa;
}
